:root {
  --color-primary: #00d9ff;
  --color-secondary: #2584ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5; /*1.5 of the font-size*/
  font-size: 2.4rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/*Links */

a {
  text-decoration: none;
}

.link-arrow {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-accent);
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  margin-bottom: 5rem;
  transition: margin(0.15s);
}
/*targetting an element inside the other element in hover state*/
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*Badges */

.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  /*no matter what the content in our badge shoul be only one line */
  white-space: nowrap;
  color: #fff;
  font-size: 2rem;
}

.badge--primary {
  background: var(--color-primary);
}

.badge--secondary {
  background: var(--color-secondary);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}
