:root {
  --color-primary: #00d9ff;
  --color-secondary: #2584ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
/*making all element to have box-sizing 0f border box in the entire document*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5; /*1.5 of the font-size*/
  font-size: 2.4rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/*Links */

a {
  text-decoration: none;
}

.link-arrow {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-accent);
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  margin-bottom: 5rem;
  transition: margin(0.15s);
}
/*targetting an element inside the other element in hover state*/
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*Badges */

.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  /*no matter what the content in our badge shoul be only one line */
  white-space: nowrap;
  color: #fff;
  font-size: 2rem;
}

.badge--primary {
  background: var(--color-primary);
}

.badge--secondary {
  background: var(--color-secondary);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/*Lists */

.list {
  color: var(--color-headings);
  padding-left: 0;
  list-style: none;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../icons/tick.svg);
  /*making the tick visible*/
  padding-left: 3rem;
}
/* separating list element to the green tick */
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

/*Button*/

.btn {
  padding: 2rem 3rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem 0;
  text-align: center;
}

.btn--primary {
  background: var(--color-primary);
}
.btn--primary:hover {
  background: #fd4516;
}

.btn--secondary {
  background: var(--color-secondary);
}
.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
}

.btn--accent:hover {
  background: #ffea00;
}

.btn__block {
  width: 100%;
  /*ancho element are inline by default , inline-block will make the 100% width to work*/
  display: inline-block;
}

.btn__outline {
  background: #fff;
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
}

.btn__outline:hover {
  background: var(--color-headings);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*Inputs */

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: 0;
  color: var(--color-headings);
  font-size: 2rem;
}

/*changing placeholder properties*/
::placeholder {
  color: #bbb9c9;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
