*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.container {
  display: flex;
  flex-direction: row;
}

img {
  width: 33.33%;
  border-radius: 100%;
  object-fit: cover;
}

.items__title {
  text-transform: capitalize;
}
