:root {
  --color-primary: #fff;
  --color-secondary: rgb(234, 179, 8);
  --selection-color: #2584ff;
  --background-color-primary: rgb(23, 23, 23);
  --background-color-secondary: rgba(10, 10, 10, 0.75);
  --text-color: rgb(115, 115, 115);
  --btn-background-color: rgb(234, 179, 8);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  background: var(--selection-color);
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  background: var(--background-color-primary);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background: var(--background-color-secondary);
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

h1,
h2,
h3 {
  color: var(--color-primary);
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

/* Navigation bar */
.nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #232323;
}

.nav__item > a {
  color: rgba(255, 255, 255, 0.55);
  transition: color 0.3s;
  text-decoration: none;
}
.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.nav__brand {
  transform: translate(20px, 5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.5rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__brand {
    transform: translateX(15px);
  }

  .nav__item {
    border: 0;
  }
}

/* Icons */
.icon {
  width: 30px;
  height: 30px;
}

.icon--white {
  fill: rgb(114, 112, 112);
}
.icon--primary {
  fill: var(--color-secondary);
}

/* List */
.list {
  list-style: none;
  padding-left: 0;
}

/* Collapsible */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px rgb(114, 112, 112);
  border-radius: 5px;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Grid */
.grid {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

/* Hero */
.hero {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.hero__text {
  padding-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 300;
}

.hero--primary .hero__image {
  justify-self: center;
}

.hero-secondary__heading {
  color: var(--color-secondary);
}

.hero__tagline {
  color: var(--btn-background-color);
  font-size: 1.6rem;
  font-weight: 300;
}

.hero__heading {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2;
}

.hero__image {
  width: 100%;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  position: relative;
}

.hero__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 10px; /* Adjust shadow gap */
  bottom: 10px; /* Adjust shadow gap */
  background-color: black;
  border-radius: 10px;
  z-index: -1;
}

.hero-image__left {
  box-shadow: 10px 10px var(--color-secondary);
}

.hero--secondary {
  background: var(--background-color-secondary);
}

.hero__box {
  background: rgb(44, 44, 44);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-service__text {
  max-width: 50ch;
}

@media screen and (min-width: 768px) {
  .hero-image__rigth {
    box-shadow: 10px 10px var(--color-secondary);
  }
}

/* Buttons */
.btn {
  color: #000;
  border-radius: 6px;
  padding: 1rem 1.6rem;
  border: 0;
  font-size: 1.6rem;
  font-weight: 400;
}

.btn--primary {
  background: var(--btn-background-color);
}
