<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading 2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus,
        excepturi.
      </p>
    </header>
    <div class="card-container">
      <div class="card card--primary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At minima
          impedit sequi animi dolorum blanditiis possimus alias eveniet pariatur
          explicabo ullam molestias qui corrupti aperiam, nostrum cupiditate veniam
          deserunt! Dolorum?
        </div>
      </div>
  </section>
  <section class="block block--dark block--skewed-right">
    <div class="container">
      <h2 class="block__heading">Heading 2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus,
        excepturi.
      </p>
    </div>
  </section>