<div class="card-container">
  <div class="card card--primary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. At minima
      impedit sequi animi dolorum blanditiis possimus alias eveniet pariatur
      explicabo ullam molestias qui corrupti aperiam, nostrum cupiditate veniam
      deserunt! Dolorum?
    </div>
  </div>
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, ipsum.
      Aperiam, praesentium tempore blanditiis ipsum asperiores iste fugit, et
      inventore aspernatur error eaque illo ducimus distinctio deserunt nisi
      quidem veniam.
    </div>
  </div>
</div>
