<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="../icons/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Update</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam beatae
      dolorem nulla labore sed itaque voluptatem. Magni, repellat. Consequatur
      obcaecati minima quod temporibus ducimus deleniti suscipit qui aspernatur
      explicabo. Officiis!
    </p>
  </div>
</div>
