<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo voluptas
      aliquid earum quasi magni harum! Minima animi recusandae perferendis
      sint, accusamus officia porro adipisci asperiores nihil ex quo
      voluptatum eaque corrupti praesentium delectus et modi est iure eveniet
      provident sequi magnam corporis accusantium rerum. Magnam ratione quod
      sit reiciendis similique!
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="../icons/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Eden Abwe</h3>
          <p class="media__text quote-author__company">Eden Company CEO</p>
        </div>
    </footer>
  </blockquote>