<div class="card testimonial--container">
  <div class="grid grid--1x2">
    <div class="testimonial__image-container">
      <img
        class="testimonial__image"
        src="./images/testimonial.jpg"
        alt="a customer with a smilling face"
      />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="../icons/sprite.svg#growth"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo voluptas
        aliquid earum quasi magni harum! Minima animi recusandae perferendis
        sint, accusamus officia porro adipisci asperiores nihil ex quo
        voluptatum eaque corrupti praesentium delectus et modi est iure eveniet
        provident sequi magnam corporis accusantium rerum. Magnam ratione quod
        sit reiciendis similique!
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="../icons/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Eden Abwe</h3>
            <p class="media__text quote-author__company">Eden Company CEO</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
